body,
input,
button,
code {
    font-family: "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", serif !important;
    font-weight: 500;
    /*text-shadow: silver 0px 0px 1px !important;*/
}

::selection {
    color:#222;
    background:#D6EDFF;
    text-shadow:none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

/* table */
table a {
    color: lightslategrey;
}

td {
    white-space: nowrap;
    overflow: hidden;
}

/* site title */
.site-title {
    font-size: 2em;
}

.site-title:hover {
    color: #F65;
}

/* panel */
.my-panel {
    font-size: 1.2em;
}

.my-ad {
    text-align: center;
}

.my-ad a {
    color: lightslategrey;
}

.my-ad a:hover {
    color: blueviolet;
}

/* copyright info at bottom */
.copyright {
    color: #D8BFD8;
}

.copyright:hover {
    color: grey;
}

.copyright a {
    color: #D8BFD8;
}

.copyright:hover a {
    color: grey;
}

/* version info */
.version {
    color: #D8BFD8;
    margin-left: 20px;
}

/* donate */
.my-alipay {
    font-size: 0.9em;
    margin-left: 12px;
    display: none;
}

@media screen and (max-width: 480px) {
    .poetry-content {
        font-size: 1.13em;
    }

    .poetry-author {
        font-size: 1.1em;
    }

    .poetry-title {
        font-size: 2.0em;
    }
}
