body,
input,
button {
    font-family:  "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei" !important;
    font-weight: 500;
    /*text-shadow: silver 0px 0px 1px !important;*/
}

::selection {
    color:#222;
    background:#D6EDFF;
    text-shadow:none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

table a {
    color: lightslategrey;
}

/* site title */
.site-title {
    font-size: 2em;
}

.site-title:hover {
    color: #F65;
}

/* panel */
.my-panel {
    font-size: 1.2em;
}


/* copyright info at bottom */
.copyright {
    color: #D8BFD8;
}

.copyright:hover {
    color: grey;
}

@media screen and (max-width: 480px) {
    .poetry-content {
        font-size: 1.13em;
    }

    .poetry-author {
        font-size: 1.1em;
    }

    .poetry-title {
        font-size: 2.0em;
    }

}
